{
	{$CADDY_AUTO_HTTPS}
	order coraza_waf after rate_limit

	import {$CADDY_SERVERS_DIR}/*.caddy
}

import {$CADDY_BUILTIN_SNIPPETS_DIR}/*.caddy
import {$CADDY_SNIPPET_DEFS_DIR}/*.caddy

{$CADDY_EDGE_ADDRESS} {
	encode zstd gzip

	handle {$CADDY_HEALTH_PATH} {
		respond "ok" 200
	}

	request_body {
		max_size {$CADDY_REQUEST_BODY_MAX_SIZE}
	}

	coraza_waf {
		directives `
		Include /opt/coraza/config/coraza.conf
		Include /opt/coraza/config/crs-setup.conf
		Include /opt/coraza/overrides/*.conf
		Include /opt/coraza/owasp-crs/rules/*.conf
		`
	}

	import {$CADDY_CONFIG_DIR}/*.caddy

	handle {
		respond "No configuration injected" 501
	}
}
